<div class="new-form">
	<h3> New Todo Item  </h3>
</div>

<%= form_for TodoItem.new, :remote => true do |f| %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :destination_id %>: 
 		<%=  f.select("destination_id", Destination.find(:all).collect {|d|[d.name, d.id]})%>
	</div>
	<div class="field">
		<%= f.label :location %>
		<%= f.text_field :location %>
	</div>

	<%= f.submit %>
<% end %>