<div class="index-title sixteen columns">
	<h1>Things To Do Before I Die</h1>
	<%= link_to 'Sort by Title', todo_items_path(:order => :name), :remote => true %> | <%= link_to 'Sort by Created At', todo_items_path(:order => :created_at), :remote => true %> | <input type="text" id="search" placeholder="Search for a Todo item"> 
</div>

<div class="sixteen columns">
	<div class="twelve columns alpha">
		<div class="items-list five columns alpha">
			<% @items.each do |item| %>
				<%= render item %>
			<% end %>
		</div>
		<div class="seven columns omega">
			<div id="map-canvas"></div>
		</div>
	</div>
	<div class="four columns omega">
		<div class="items-form">
			<%= render :partial => 'todo_items/form' %>
		</div>
		<div id="destinations-form">
			<%= render :partial => 'destinations/form' %>
		</div>
	</div>
</div>
